html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.main-content {
    min-height: calc(100vh - 60px); /* Adjust 120px based on your footer height */
    padding-bottom: 2rem; /* Add some space before the footer */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* book form */
form span{
    font-size: 0.8rem;
}

.profile-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.custom-file-label {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.custom-file-label img {
    width: 120px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

.custom-file-label:hover img {
    border-color: #5e72e4;
}

.custom-file-label span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

input[type="file"] {
    display: none;
}

/* form input select with select2 package */
.form-floating .select2-container--bootstrap-5 .select2-selection {
    height: calc(3.5rem + 2px);
    padding: 1rem 0.75rem;
}

.form-floating .select2-container--bootstrap-5 .select2-selection > .select2-selection__rendered {
    margin-top: 0.6rem;
    margin-left: 0.25rem;
}
/* Book index Table */
#book-link:hover {
    color: #2dce89;
    font-weight: bold;
}
.book-details {
    font-size: 0.9rem;
}
.book-details .border-div{
        border: 1px solid #aaa;
}
.book-details p{
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
}
.book-details ul {
    border: none !important;
}

.book-details .nav-link {
    border: none !important;
    color:#555;
}

.book-details .nav-link.active {
    /* border:  2px solid #000 !important; */
    border-bottom: 2px solid #5e72e4 !important;
    color: #5e72e4 !important;
}

.book-details .card {
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.svg-icon-primary {
    color: #5e72e4;
}