html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.main-content {
    min-height: calc(100vh - 60px); /* Adjust 120px based on your footer height */
    padding-bottom: 2rem; /* Add some space before the footer */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
/* book form */
.profile-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.custom-file-label {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.custom-file-label img {
    width: 120px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

.custom-file-label:hover img {
    border-color: #5e72e4;
}

.custom-file-label span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

input[type="file"] {
    display: none;
}