@model BookFormVM
@{
    ViewData["Title"] = "Book Form";
}

<div class="card shadow-sm my-3">
    <div class="card-header">
        <h3 class="card-title">@(Model.Id.Equals(0) ? "Add" : "Edit") Book</h3>
    </div>
    <div class="card-body">
        <form method="post" id="form" asp-controller="Books" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(Model.Id > 0)
            {
                <input type= "hidden" asp-for="Id"/>
            }
            <div class="row">
                <div class="col mb-2">
                    <div class="profile-input-container mb-2">
                        <label class="control-label custom-file-label" asp-for="Image">
                            <img src='@(string.IsNullOrEmpty(Model.ImageThumbnailUrl)? "/images/image-placeholder.jpg": Model.ImageThumbnailUrl)' alt="Profile Image" id="profile-preview" />
                            <div class="form-text">Allowed file types: png, jpg, jpeg and cannot be more than 2MB</div>
                            <span>Choose Image</span>
                        </label>
                        <input class="form-control form-control-solid" placeholder="Image" asp-for="Image" accept=".jpg,.jpeg,.png" />
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                    <div class="col mb-2">
                        <div class="form-floating mb-2">
                            <input class="form-control form-control-solid" placeholder="Title" asp-for="Title" />
                            <label class="control-label" asp-for="Title"></label>
                        </div>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="col mb-2">
                        <div class="form-floating mb-2">
                            <select class="js-select2 form-select form-select-solid" data-placeholder="Select an Author" asp-for="AuthorId" asp-items="@Model.Authors">
                                <option value="">Select an Author </option>
                            </select>
                            <label asp-for="AuthorId" class="control-label"></label>
                        </div>
                        <span asp-validation-for="AuthorId" class="text-danger"></span>
                    </div>

                    <div class="col mb-2">
                        <div class="mb-2">
                            <select class="form-select form-select-solid js-select2" data-placeholder="Select Categories" asp-for="SelectedCategories" asp-items="@Model.Categories">
                                <option value="">Select Categories </option>
                            </select>
                        </div>
                        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                    </div>

                    <div class="col mb-2">
                        <div class="form-floating mb-2">
                            <input class="form-control form-control-solid" placeholder="Publisher" asp-for="Publisher" />
                            <label class="control-label" asp-for="Publisher"></label>
                        </div>
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>

                    <div class="col mb-2">
                        <div class="form-floating mb-2">
                            <input class="form-control form-control-solid js-flatpicker" placeholder="Publishing Date" asp-for="PublishingDate" />
                            <label class="control-label" asp-for="PublishingDate"></label>
                        </div>
                        <span asp-validation-for="PublishingDate" class="text-danger"></span>
                    </div>

                    <div class="col mb-2">
                        <div class="form-group form-check form-switch my-3">
                            <input class="form-check-input" asp-for="IsAvailableForRental" />
                            <label class="form-check-label" asp-for="IsAvailableForRental"></label>
                        </div>
                        <span asp-validation-for="IsAvailableForRental" class="text-danger"></span>
                    </div>

                    <div class="col mb-2">
                        <div class="form-floating mb-2">
                            <input class="form-control form-control-solid" placeholder="Hall" asp-for="Hall" />
                            <label class="control-label" asp-for="Hall"></label>
                        </div>
                        <span asp-validation-for="Hall" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col mb-2">
                        <div class="form-floating mb-2">
                            <textarea class="form-control form-control-solid js-tinymce" placeholder="Description" asp-for="Description"></textarea>
                            @* <label class="control-label" asp-for="Description"></label> *@
                        </div>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-primary" form="form">
                <span class="indicator-label">
                    Save
                </span>
                <span class="indicator-progress d-none">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <a class="btn btn-light text-primary ms-3" asp-action="Index">Cancel</a>
        </div>
    </div>
</div>

 <script>
     const profileImageInput = document.getElementById('Image');
    const profilePreview = document.getElementById('profile-preview');

    profileImageInput.addEventListener('change', (event) => {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          profilePreview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    });

 </script>
@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
