@section Styles{
    <link href="~/css/bookstyle.css" rel="stylesheet" />
}
@model IEnumerable<BookListVM>
@{
    ViewData["Title"] = "Books";
    int recordsNum = 10;
}

<div class="container-fluid book-index-table py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Books</h6>
                    <a asp-controller="Books" asp-action="Create" class="btn btn-primary">Add Book</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="row px-3">
                        <div class="col">
                            <input type="search" class="form-control" id="search" placeholder="Searsh..." oninput="RenderTable(1, @(recordsNum),value)" />
                        </div>
                    </div>
                    <table id=" Books" class="table mb-0 text-sm align-items-center">
                        <thead>
                            <tr class="text-uppercase text-secondary font-weight-bolder opacity-7">
                                <th>Book</th>
                                <th>Publisher</th>
                                <th>Hall</th>
                                <th>Status</th>
                                <th>Rental</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="bookTable">
                               
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/books.js"></script>
}