@model IEnumerable<BookListVM>
@{
    ViewData["Title"] = "Books";
}

@section Styles {
<link href="~/css/bookstyle.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
}

<div class="container-fluid book-index-table py-4">
    <div class="row">
        <div class="col-12">
            <div class="card main-card">
                <div class="card-header pb-0">
                    <h6>Books</h6>
                    @if (User.IsInRole(AppRoles.Admin))
                    {
                        <a asp-controller="Books" asp-action="Create" class="btn btn-primary">Add Book</a>  
                    }
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive">
                        <table id="booksTable" class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="d-none"></th>
                                    <th>Book</th>
                                    <th>Publisher</th>
                                    <th>Hall</th>
                                    <th>Status</th>
                                    <th>Rental</th>
                                    <th class="text-end @(User.IsInRole(AppRoles.Admin)?"":"d-none")">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data will be loaded via AJAX -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var isAdmin = @(User.IsInRole("Admin").ToString().ToLower())
    </script>
    @Html.AntiForgeryToken()
    <script src="~/js/books.js"></script>
}