@model SearchFormViewModel

<form asp-action="GetCopyDetails"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="onAddCopySuccess"
      data-ajax-begin="onSearchBegin"
      data-ajax-failure="showErrorMessage"
      data-ajax-complete="onSearchComplete"
      id="SearchForm">
    <!--begin::Compact form-->
    <div class="d-flex align-items-center">
        <!--begin::Input group-->
        <div class="position-relative w-md-400px me-md-2">
            <!-- Search icon SVG remains the same -->
            <input type="text" class="form-control form-control-solid ps-10"
                   placeholder="Search by serial number" asp-for="Value" id="SearchValue">
        </div>
        <!--end::Input group-->
        <!--begin:Action-->
        <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary js-search">
                <span class="indicator-label">Search</span>
                <span class="indicator-progress d-none">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
        <!--end:Action-->
    </div>
    <!--end::Compact form-->
</form>